html {
    background-color: white;
}

.region-right {
    float: right;
    padding-right: 8px;
    padding-left : 5px;
    border: 1px dashed #c0c0c0;
}

article {
    float: left;
}

.footer {
    float: left;
}

h1, h2, h3 {
    margin-top: 0;
    padding-top: 0;
}

div.pagination {
  padding: 3px;
  margin: 3px;
}

div.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #AAAADD;
	
  text-decoration: none; /* no underline */
  color: #000099;
}

div.pagination a:hover, div.pagination a:active {
  border: 1px solid #000099;

  color: #000;
}

div.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
		
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}

div.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #EEE;
  color: #DDD;
}
	
#main-menu ul {
  width: 14em;
  list-style-type: none;
  display: block;
  clear: both;
}

li {
  font-size: normal;
  float: left;
  margin: 0 3px 3px 0;
  border: 3px solid #eee;
  background-color: blue;
  color: white;
}

li a {
  color : white;
}

li:hover {
  position: relative;
}

ul ul {
  z-index: 1;
  position: absolute;
  left: -999em;
  width: auto;
  background: #ccc;
  background: rgba(204, 204, 204, 0.33);
}

li:hover ul {
  top: 2em;
  left: 3px;
}

li li {
  margin: 0 0 3px 0;
  background: #909;
  background: rgba(153, 0, 153, 0.66);
  border: 3px solid #909;
}
