<html>
  <head>
    <title>{{title}}</title>
    {{ head|raw }}
  </head>
  <body onLoad="loadXMLDoc();">
        <h1>Check your link structure</h1>
        <h4>Enter your url here</h4>
        <form id="add_url" action="/addurl" method="post">
            <label for="url">Url : </label>
            <input type="text" name="url" size="40" />
            <input type="submit" value="Add to Crawler" />
        </form>
	<form id="two">
	  <input type="hidden" name="test" value="2" />
	</form>
        <div id="myDiv"><h2>Status from ajax</h2></div>
	{{body|raw}}
    </body>
</html>
