<html>
  <head>
    <title>Check your webpage for broken links.</title>
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <script type="text/javascript" src="js/base.js"></script>
  </head>
  <body onLoad="loadXMLDoc();">
    <header>
      <div class="navbar navbar-inverse">
	<div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Linkhub</a>
            <div class="nav-collapse collapse">
	      
	      {%region:mainmenu}
            </div><!--/.nav-collapse -->
          </div>
	</div>
      </div>
    </header>
    <section id="content" class="main">
      <div class="container">
	<article>
          <h1>Check your link structure</h1>
	  
          <h2>Add site:</h2>
          <p>Add url of site that should be crawled.</p>
          <form id="add_url" action="/addurl" method="post">
            <label for="url">Url : </label>
            <input type="text" name="url" size="40" />
            <input type="submit" value="Add to Crawler" />
          </form><br />
	  <form id="two" action="/crawl" method="post">
	    <fieldset>
	      <legend>Manage crawler:</legend>
	      <input type="submit" name="start" value="Start Crawling" />
	    </fieldset>
	  </form>
	</article>
	  
	<div class="region-right">
	  <section>
	    <div class="url-report">{%url-report}</div>
	  </section>
	  <section>
            {%login-form}
	  </section>
	</div>
      </div>
    </section>
    <footer>
      &copy; LinkHub 2018
    </footer>
  </body>
</html>
